version: "3.8"

services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: babiga
      POSTGRES_PASSWORD: dbpassword
      POSTGRES_DB: tenx_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped

volumes:
  postgres_data:
    name: postgres_data

networks:
  app-network:
    driver: bridge
